{% extends "admin/change_form.html" %}
{% load admin_static admin_modify %}
{% load admin_urls %}
{% load example_tags %}
{% load static from staticfiles %}

{% block submit_buttons_bottom %}

{# Display list of users #}
{% if object_id %}
<h2>Users</h2>
<ul>
{% for u in original.user_set.all|dictsort:"username" %}
<li><a class="changelink" href="{% url 'admin:auth_user_change' u.id %}">{{ u.username }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% submit_row %}
{% endblock %}
