{% extends "admin/change_form.html" %}
{% load admin_static admin_modify %}
{% load admin_urls %}
{% load example_tags %}
{% load static from staticfiles %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% static "admin/js/jquery.min.js" %}"></script>
<script type="text/javascript">
    $(function(){
        $("select+a.add-another").each(function(){
            $(this).after("&nbsp;<a class='changelink' href='#' title='Edit selected item'></a>");
            $(this).next().click(function(){
                if($(this).prev().prev().attr('value')=='') return false;
                var link = ($(this).prev().attr('href')+'../'+$(this).prev().prev().attr('value'));
                var win = window.open(link + '?_popup=1', link, 'height=600,width=1000,resizable=yes,scrollbars=yes');
                win.focus();
                return false;
            });
        });
        $("select+script+a.add-another").each(function(){
            $(this).after("&nbsp;<a class='changelink' href='#' title='Edit selected item'></a>");
            $(this).next().click(function(){
                if($(this).prev().prev().prev().attr('value')=='') return false;
                var link = ($(this).prev().attr('href')+'../'+$(this).prev().prev().prev().attr('value'));
                var win = window.open(link + '?_popup=1', link, 'height=600,width=1000,resizable=yes,scrollbars=yes');
                win.focus();
                return false;
            });
        });
    });
</script>
{% endblock %}

{% block object-tools-items %}
  <li><a href="{% url 'admin:index' %}intervention/add/?station={{ object_id }}">Add intervention</a></li>
  <li><a href="{% url 'admin:index' %}channel/add/?station={{ object_id }}">Add channel</a></li>
  <li><a href="{% url 'admin:createchannels' object_id %}">Add 3 channels</a></li>
  <li><a href="{% url 'admin:closechannels' object_id %}">Close channel(s)</a></li>
  <li><a href="{% url 'itineraire_maps' %}?Station={{ object_id }}">Itinerary</a></li>
  <li><a href="{% url 'site_maps' %}?Station={{ object_id }}">Stations map</a></li>
  <li><a href="{% url 'station_xml' %}?Station={{ object_id }}">Station XML</a></li>
  <li><a href="history/" class="historylink">History</a></li>
{% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">View on site</a></li>{% endif%}
{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}
{% if object_id %}
{% display_station_interventions object_id 3 %}
{% display_station_interventions object_id %}
{% display_equip_last_location object_id %}
{% display_hist_equip_station object_id %}
{% display_station_channels object_id %}
{% endif %}
{% endblock %}

