<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block pagetitle %}{% endblock %}</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/css/uikit.min.css" />

    <!-- jQuery is required -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.25/js/uikit-icons.min.js"></script>
  </head>
  <body>
    <div class="uk-flex uk-flex-center@m uk-flex-right@l">
      <div class="uk-container uk-text-center">
        <h1 class="uk-heading-primary">{% block title %}{% endblock %}</h1>
        <div class="uk-inline uk-width-1-2">
          {% block content %}{% endblock %}
        </div>
        <p><a class="uk-button uk-button-primary uk-button-large" href="/">Go back to Home</a></p>
      </div>
    </div>

  </body>
</html>
