{% extends "admin/base_site.html" %}
{% load static from staticfiles %}

{% block title %}Data search on RESIF places{% endblock %}

{% block extrastyle %}{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static "css/leaflet.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "css/leaflet.awesome-markers.css" %}" />
{# leaflet.fullscreen: WARNING, this is a modified version to accept pictures from /img directory. #}
<link type="text/css" rel="stylesheet" href="{% static "css/leaflet.fullscreen.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "css/leaflet-panel-layers.min.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "css/ionicons.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "css/site_map.css" %}" />
{% endblock %}


{% block extrahead %}{{ block.super }}
{# All needed javascript for leaflet and its plugins #}

{% comment "Bug note" %}
After v1.0.0 of Leaflet, something goes wrong
Filters failed (with leaflet-panel-layers) with v1.0.1+ versions of Leaflet</p>
{% endcomment %}

{# v1.0.0 from https://github.com/Leaflet/Leaflet/ #}
<script type="text/javascript" src="{% static "js/leaflet.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/leaflet.awesome-markers.js" %}"></script>
{# v1.0.2 from http://leaflet.github.io/Leaflet.fullscreen/ #}
<script type="text/javascript" src="{% static "js/Leaflet.fullscreen.min.js" %}"></script>
{# v0.9.2 from https://github.com/stefanocudini/leaflet-panel-layers with modified _layers to be compatible with Leaflet 1.0.0 #}
<script type="text/javascript" src="{% static "js/leaflet-panel-layers.js" %}"></script>

{% comment %}
As I don't found how to fetch station without having a big latence, 
I just push stations as it in 'stations' array.
{% endcomment %}
<script type="text/javascript">
var stationId = '{{ station_id }}';
var stationUrl = '{% url 'admin:index' %}stationsite/';
var iconDirectoryUrl = '{% static "img/" %}';
var stations = [];

var Station = function (id, latitude, longitude, code, operator, state, type, projects, lastDate) {
    this.id = id;
    this.latitude = latitude,
    this.longitude = longitude,
    this.code = code;
    this.operator = operator;
    this.state = state;
    this.type = type;
    this.projects = projects;
    this.lastInterventionDate = lastDate;
};
{% for station in stations %}
stations.push(
    new Station(
      {{ station.id }},
      {{ station.latitude }},
      {{ station.longitude }},
      '{{ station.code }}',
      '{{ station.operator }}',
      '{{ station.state }}',
      '{{ station.type }}',
      [{% autoescape off %}{{ station.projects }}{% endautoescape %}],
      '{{station.last_intervention_date}}')
);
{% endfor %}
</script>
<script type="text/javascript" src="{% static "js/site_map.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Home</a> &rsaquo;
        <a href="{% url 'admin:app_list' application_label %}">{{ application_label|capfirst }}</a> &rsaquo;
        <a href="{% url 'admin:gissmo_stationsite_changelist' %}">Sites</a> &rsaquo;
        {% if StationUnique %}
          <a href="{% url 'admin:gissmo_stationsite_change' StationUnique.id %}">{{StationUnique.station_code}}</a> &rsaquo;
        {% endif %}
        Stations map
    </div>
{% endblock %}

{% block content %}
<div id="map" class="leaflet-container-default"></div>
<script type="text/javascript">
var map = L.map('map', {
  center: [46.539722, 2.430278],
  zoom: 6,
  maxZoom: 17,
  layers: [],
  scrollWheelZoom: false,  // avoid Control panel not being scrollable
  }
);

// Initialize map with filters, reset button, legend, etc.
map_init_basic(map);
</script>
{% endblock %}
