#container.colM {
  padding: 0;
}

.leaflet-container {  /* all maps */
  width: 100%;
  max-width: 1280px;
  height: 100%;
  min-height: 411px;
  max-height: 800px;
  margin: 0 auto;
}

#specialbigmap {
  height: auto;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.leaflet-panel-layers {
  background-color: rgba(255,255,255,0.7);
}

.leaflet-panel-layers.expanded {
  min-width: 200px;
}

.leaflet-panel-layers-group {
  font-weight: bold;
}

.leaflet-panel-layers-overlays button {
  width: 100%;
  margin-bottom: 5px;
}

/* Under 980px, we need to apply map on the entire screen */
@media screen and (max-width: 980px) {
  #container {
    min-width: 0;
  }
  #content.colM {
    padding: 0;
  }
  #map {
    width: 100%;
  }
}
