{% extends "admin/base.html" %}
{% load extras %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a>
{# Display Git version for superuser #}
{% if user.is_superuser %}
{% git_version as gversion %}
{% if gversion %}
<span>(<a href="https://github.com/eost/gissmo/commit/{{ gversion }}">{{ gversion|slice:":7" }}</a>)</span>
{% endif %}
{% endif %}
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
